body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container{
    flex: 1;
}


/* navbar */

.navbar{
    height: 5rem;
    background-color: #fff;
}
/* .fa-content{
    color:#4d8e8b ;
    size: 3.1rem;
} */
.nav-link{
    color: #222222 !important;
}
.nav-link:hover{
    text-decoration: underline;
    color: #4d718e !important;
    font-weight: 500 !important;
}



/* footer */


.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    
}
.footer div {
    flex: 1;
    margin: 0 10px;
}
.footer .logo {
    font-size: 2rem;
    font-weight: bold;
}
/* .footer .logo span {
    color: orange;
}*/
#name{
    /* font-size: 25px; */
    color: #4d718e;
}
.footer .motto {
    font-size: 18px;
    margin-top: 10px;
    margin-left: auto;
    color: #212529bf
}
.footer .links, .footer .contact, .footer .social {
    list-style: none;
    padding: 0;
}
.footer .links li, .footer .contact li, .footer .social li {
    margin: 5px 0;
    font-weight: 500;

}
.footer .links li a:hover,.footer .social li a:hover{
    text-decoration: underline;
}
.footer .links a, .footer .contact a, .footer .social a {
    color: #6674cc;
    text-decoration: none;
    font-size: 18px;
}
.footer .social a {
    display: inline-block;
    margin-right: 10px;
    color: #6674cc;
    font-weight:500;
}
.footer .social a i {
    font-size: 20px;
}
.copyright {
    /* width: 100%; */
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 18px;
    
}
.footer div h3{
    font-size:20px;
    
}

.contact li{
    font-size: 18px;
}



/* cards */
.post-card{
    border: none !important;
    margin-bottom: 2rem;


}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;

}
.card-text p{
   
    font-weight: 400 !important;
}
.post-link{
    text-decoration: none;
}

/* Card Effect */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New page */

.add-btn{
    background-color: #4d718e !important;
    border: none !important;
}

/* Edit page */
.edit-btn{
    background-color: #4d8e8b !important;
    border: none !important;
    margin-right: 0.2rem !important;
    
}


/* show page */


.post-content{
  font-size: 1.1rem !important;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
.delete-btn{
    background-color: #4d718e !important;
    border: none !important;
}
.submit-btn{
    background-color: #fff !important;
    color: black !important;
    border: solid #212529bf !important;

}
.submit-btn:hover{
    background-color: #4d8e8b !important;
    color: #fff !important;
    border: none !important;
}
.starability-result
{
    color: black !important; /* Change star color */
    font-size: 0.2rem !important; /* Change star size */
}

/* About page */
.about-container{
    font-size: 1.1rem !important;
}

.feedback-submit-btn{
    background-color: #4d718e !important;
    color: #fff !important;
    border: none !important;

}
.feedback-submit-btn:hover{
    background-color: #4d8e8b !important;
}

