<% layout("/layouts/boilerplate")%>
<body>
    
    <!-- <div class="row"></div> -->
    <div class="col-8 offset-2 mt-3">
        <!-- <br><br> -->
    <h3>Upload a New Post</h3>
    <form 
    method="POST" 
    action="/posts" 
    novalidate class="needs-validation" 
    enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        <input 
         type="text"
         name="post[title]" 
         placeholder="Add a catchy title" 
         class="form-control" required>
         <!-- <div class="valid-feedback">Title Looks good!</div> -->
         <div class="invalid-feedback">Title should be valid.</div>

        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea name="post[content]" class="form-control" rows="8" required></textarea>
            <div class="invalid-feedback">Please input some content to post</div>

        </div>
        
            <div class="mb-3">
                <label for="image" class="form-label">Upload Image</label>
                <input type="file" name="post[image]"  class="form-control" required>
            </div>
        <br><br>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>

    </form>
    </div>
</body>
