body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container{
    flex: 1;
}


/* navbar */

.navbar{
    height: 5rem;
    background-color: #fff;
}
/* .fa-content{
    color:#4d8e8b ;
    size: 3.1rem;
} */
.nav-link{
    color: #222222 !important;
}
.nav-link:hover{
    text-decoration: underline;
    color: #4d718e !important;
    font-weight: 500 !important;
}



/* footer */


.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    
}
.footer div {
    flex: 1;
    margin: 0 10px;
}
.footer .logo {
    font-size: 2rem;
    font-weight: bold;

}
/* .footer .logo span {
    color: orange;
}*/
#name{
    /* font-size: 25px; */
    color: #4d718e;
}
.footer .motto {
    font-size: 18px;
    margin-top: 10px;
    margin-left: auto;
    color: #212529bf
}
.footer .links, .footer .contact, .footer .social {
    list-style: none;
    padding: 0;
}
.footer .links li, .footer .contact li, .footer .social li {
    margin: 5px 0;
    font-weight: 500;

}
.footer .links li a:hover,.footer .social li a:hover{
    text-decoration: underline;
}
.footer .links a, .footer .contact a, .footer .social a {
    color: #6674cc;
    text-decoration: none;
    font-size: 18px;
}
.footer .social a {
    display: inline-block;
    margin-right: 10px;
    color: #6674cc;
    font-weight:500;
}
.footer .social a i {
    font-size: 20px;
}
.copyright {
    /* width: 100%; */
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 18px;
    background-color: #ebebeb;
}
.footer div h3{
    font-size:20px;
    
}

.contact li{
    font-size: 18px;
}
footer{
    background-color: #ebebeb !important;
}



/* cards */
.post-card{
    border: none !important;
    margin-bottom: 2rem;


}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    
}
.card-body{
    padding: 0 !important;

}
.card-text p{
   
    font-weight: 400 !important;
}
.post-link{
    text-decoration: none;
}

/* Card Effect */


.index-card:hover{
    opacity: 0.7;
    background-color: white;
}

/* New page */

.add-btn{
    background-color: #4d718e !important;
    border: none !important;
}

/* Edit page */
.edit-btn{
    background-color: #4d8e8b !important;
    border: none !important;
    margin-right: 0.2rem !important;
    color: #fff !important;
    
}


/* show page */


.post-content{
  font-size: 1.1rem !important;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
.delete-btn{
    background-color: #4d718e !important;
    border: none !important;
    color: #fff !important;
}
.submit-btn{
    background-color: #fff !important;
    color: black !important;
    border: solid #212529bf !important;

}
.submit-btn:hover{
    background-color: #4d8e8b !important;
    color: #fff !important;
    border: none !important;
}
.starability-result
{
    color: black !important; /* Change star color */
    font-size: 0.2rem !important; /* Change star size */
}

/* About page */
.about-container{
    font-size: 1.1rem !important;
    margin-bottom: 6.5rem;
    
}

.feedback-submit-btn{
    background-color: #4d718e !important;
    color: #fff !important;
    border: none !important;

}
.feedback-submit-btn:hover{
    background-color: #4d8e8b !important;
}

/* Like button */

#like{
    background-color: #fff;

}
/* Login page */
.login-mode{
 padding-bottom: 4rem !important;
}
/* Dashboard */

.dashboard-container {
  display: grid;
  grid-template-areas: 'sidebar main';
  grid-template-columns: 260px 1fr;
  height: 75vh;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}
#sidebar {
  grid-area: sidebar;
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  padding: 15px;
  transition: transform 0.3s;
  height: auto;
  margin-bottom: 0.5rem;
}
#sidebar.sidebar-responsive {
  position: absolute;
  z-index: 12;
  transform: translateX(-100%);
}
.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.sidebar-list-item {
  padding: 12px 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}
.sidebar-list-item:hover {
  background-color: #e9ecef;
}
.sidebar-list-item .icon {
  margin-right: 10px;
  font-size: 18px;
}
.sidebar-list-item a {
  text-decoration: none;
  color: #212529;
  display: flex;
  align-items: center;
}
.main-container {
  grid-area: main;
  padding: 20px;
  overflow-y: auto;
}
.main-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.d-card {
  background-color: #fff;
  color: #000;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s;
  border: solid 1px #dcdcdc;
  
}
.d-card span{
  font-weight:400;
  font-size:1.8rem;
}
.d-card:hover {
  transform: translateY(-5px);
  background-color:#ebebeb;
  
}
.d-card-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
}
.recent-comments {
  margin-top: 20px;
  padding: 15px;
  border: solid 1px #dcdcdc;
  border-radius: 8px;
}

/* ProfilePage */
.sidebarItem:hover{
 background-color: #e9ecef;
}

/* loadgin animation */
.loader-container {
    display: flex;           
    justify-content: center; 
    align-items: center;      
    height: 70vh;          
    width: 90vw;             
    
  }
  
  
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #333 #333 transparent transparent; /* Changed white to dark gray */
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #333 #333 transparent transparent; /* Changed white to dark gray */
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
